



<div id="form">
<H1 style="text-align:center; padding: 15px ;" class="font"> LOGIN</H1>
<form action="/login" method="post" class="setting">

    <input type="text" placeholder="Account" name="account" class="ip font2"> <br>
    <input type="password" placeholder="Password" name="password" class="ip font2"><br><br>
    <a href="" class="ip" style="color: rgb(10, 112, 255); text-decoration: none; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Forgot Password ?</a>
    <button class="ip button" style="padding-bottom:1rem ; letter-spacing: 2px;" type="submit" >Login</button>

</form>


</div>

<style>
    .button:hover {
        background-color: rgb(255, 255, 255) !important;
        cursor:grab;
        color:  rgb(10, 112, 255);
    }
    .button{
        background-color: rgb(42, 118, 218);
        color: aliceblue;
        font-weight: bold;
        border: none;
        height:2.2rem;
        
    }
    .setting{
    margin-top:2rem;
        
         
         
    }
    .ip{
        margin: 0 2rem;
        align-items:center ;
        width:84%;
        font-size:1rem;
        padding: 0.7rem 0.5rem;
        margin-top: 1rem;
        box-sizing: border-box;
        /* border: 1px solid rgb(0, 157, 255); */
        border-radius: 0.9rem;
        border: none;
    }
    .font{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 2px;
    }
     #form {
        background-color: rgb(231, 231, 231);
        width: 25rem;
        margin: auto;
    
        border-radius: 10px;
        height: 30rem;
     }
</style>