
<h1 id="title">{{course.name}}</h1>
<iframe width="885" height="498" src="https://www.youtube.com/embed/{{course.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<style>
#title {
    margin:1%;
}
iframe {
    margin: 1%;
}
</style>