<h1 id="title" style="margin-left:1rem;">KÊNH CHAT THẾ GIỚI</h1>
<div id="container" style="height:45rem; margin-left:1rem;">
    <div id="noidung" style="background-color:rgb(255, 255, 255); max-width:50%; display:block; height:70%; overflow:auto; border: 1px solid black;">
   
    
    </div>
    <div style=" max-width:50%;">
<form  id="chat-form" >
        <input id="chat-mess" type="text"  placeholder="Nhập tin nhắn...." style=" width:100%;" autocomplete="off">
        <input id="name" value="{{name}}" style=" display:none;">
        <button style="display:none"> Send </button>
    </form>

    </div>
    
</div>

<style>
  #noidung li{
      max-width: fit-content;
      text-decoration: none;
      list-style-type: none;
      margin-right: 1.2rem;
    margin-left:1.2rem;
    margin-top: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 2rem;
    border-radius:1rem;
      background-color: #1877F2;
      color:rgb(255, 255, 255);
  }

</style>
{{!-- <script src="../../../node_modules/socket.io/client-dist/socket.io.js"></script> --}}
{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const name = document.getElementById('name')
   const socket = io()
   const chatmess = document.getElementById('chat-mess')
   const chatform = document.getElementById('chat-form')
   const noidung = document.getElementById('noidung')
        chatform.addEventListener('submit', function(e){
               e.preventDefault();
            
          const message = chatmess.value;
          const username = name.value;
          socket.emit('on-chat',{
               message: message,
               name: username

          })
          chatmess.value =''
        })
   
      socket.on('user-chat', function(data) {
          
          console.log(data.message)
          const newchat = document.createElement('li')
         newchat.innerHTML =`<span style="font-weight:650; font-family:sans-serif; "> ${data.name} </span>:  ${data.message}`;
          noidung.appendChild(newchat)
        })
</script>