<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOI BAN DANG NHAP</title>
</head>
<body>
    <main><%- body %></main>
</body>
<style>
    html{
        height: 100%;
    }
 body {
    background-image: url("https://images4.alphacoders.com/601/thumb-1920-601048.jpg");
    
    padding-top: 5%;
    
 }

</style>
</html>